# Environment variables
.env
admin/.env

# Supabase
.supabase/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# iOS
ios/.generated/
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/.gradle/
android/app/debug
android/app/profile
android/app/release
android/local.properties
android/key.properties
android/.idea/
android/captures/
android/gradle-wrapper.jar
android/.externalNativeBuild/

# macOS
macos/Pods/
macos/.symlinks/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Misc
.DS_Store
*.log
